.main {
  min-height: 100vh;
  background-color: #6c35de;
  display: flex;
  justify-content: center;
}

.main form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main header {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #241b35;
  margin: 5rem;
  height: 25rem;
  width: 40rem;
  gap: 1rem;
}

.main input {
  width: 25rem;
  height: 3rem;
  border: #6c35de 2px solid;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
}

.main button {
  width: 5rem;
  height: 3rem;
  border: #6c35de 2px solid;
  background-color: #6c35de;
  font-size: 1.5rem;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.main ul {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.main p {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #6c35de;
  width: 30rem;
  height: 3rem;
  padding: 1rem;
}